.popup__close-button {
  background: url('../../../images/close-icon.svg') center no-repeat;

  width: 32px;
  height: 32px;

  position: absolute;
  top: 0;
  right: 0;

  transform: translate(40px, -40px);
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  .popup__close-button {
    transform: scale(0.625) translate(10px, -66px);
  }
}
