.element__like-button {
  width: 22px;
  height: 19px;
  margin-bottom: 3px;

  flex: none;

  background: url('../../../images/like-button.svg') center no-repeat;
  background-size: cover;
}

.element__like-button:hover {
  opacity: 0.5;
}