.profile__title-box {
  display: flex;
  gap: 0 3.274%;
  align-items: baseline;

  margin-bottom: 2.91%;
}

@media screen and (max-width: 680px) {
  .profile__title-box {
    gap: 10px;
    margin: 0 0 6px 34px;
  }
}
