.profile {
  display: flex;
  gap: 0 3.41%;
  align-items: center;

  margin-bottom: 5.682%;

  position: relative;
}

@media screen and (max-width: 680px) {
  .profile {
    margin-bottom: 36px;
    flex-direction: column;
    gap: 0;
  }
}