.profile__information {
  max-width: 62.5%;
  width: 100%;
}

@media screen and (max-width: 680px) {
  .profile__information {
    margin: 26px 0 36px;
  }
}

@media screen and (max-width: 480px) {
  .profile__information {
    max-width: 282px;
    margin: 26px 0 36px;
    width: auto;
  }
}
